@font-face {
  font-family: "iconfont"; /* Project id 5039735 */
  src: url('iconfont.woff2?t=1761055646706') format('woff2'),
       url('iconfont.woff?t=1761055646706') format('woff'),
       url('iconfont.ttf?t=1761055646706') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu:before {
  content: "\e66c";
}

.icon-xiazai:before {
  content: "\e680";
}

.icon-kuoda:before {
  content: "\e8bb";
}

.icon-lajitong:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-rubber:before {
  content: "\ea15";
}

.icon-jia:before {
  content: "\e7f9";
}

.icon-a-lianhe6:before {
  content: "\e7c8";
}

.icon-shanchu:before {
  content: "\e611";
}

.icon-pinglunguanli:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e84d";
}

.icon-danmuguanli:before {
  content: "\e607";
}

.icon-fenleiguanli:before {
  content: "\ea45";
}

.icon-gaojianguanli:before {
  content: "\e68c";
}

.icon-shousuo:before {
  content: "\e60a";
}

.icon-xitongshezhi:before {
  content: "\e625";
}

.icon-index:before {
  content: "\e626";
}

.icon-hudongguanli:before {
  content: "\e691";
}

.icon-neirongguanli:before {
  content: "\e686";
}

.icon-yonghuguanli:before {
  content: "\e645";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-yonghu:before {
  content: "\e619";
}

