<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interlude.mapper.video.VideoDraftMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.interlude.entity.po.video.VideoDraft">
		<!--草稿ID-->
		<id column="draft_id" property="draftId"/>
		<!--用户Id-->
		<result column="user_id" property="userId"/>
		<!--Redis草稿key-->
		<result column="draft_key" property="draftKey"/>
		<!--视频名称-->
		<result column="video_name" property="videoName"/>
		<!--一级分类-->
		<result column="p_category_id" property="pCategoryId"/>
		<!--二级分类-->
		<result column="category_id" property="categoryId"/>
		<!--1:原创、2:转发-->
		<result column="video_type" property="videoType"/>
		<!--1:草稿、2:已提交-->
		<result column="draft_status" property="draftStatus"/>
		<!--0:未开始、1:上传中、2:成功、3:失败-->
		<result column="upload_status" property="uploadStatus"/>
		<!---->
		<result column="create_time" property="createTime"/>
		<!---->
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<!--通用测序结果列-->
	<sql id="base_column_list">
		draft_id,user_id,draft_key,video_name,p_category_id,category_id,video_type,draft_status,upload_status,create_time,update_time
	</sql>


	<!--基础条件查询-->
	<sql id="base_query_condition">
		<if test="query.draftId != null">
			and draft_id = #{query.draftId}
		</if>
		<if test="query.userId != null">
			and user_id = #{query.userId}
		</if>
		<if test="query.draftKey != null and query.draftKey != ''">
			and draft_key = #{query.draftKey}
		</if>
		<if test="query.videoName != null and query.videoName != ''">
			and video_name = #{query.videoName}
		</if>
		<if test="query.pCategoryId != null">
			and p_category_id = #{query.pCategoryId}
		</if>
		<if test="query.categoryId != null">
			and category_id = #{query.categoryId}
		</if>
		<if test="query.videoType != null">
			and video_type = #{query.videoType}
		</if>
		<if test="query.draftStatus != null">
			and draft_status = #{query.draftStatus}
		</if>
		<if test="query.uploadStatus != null">
			and upload_status = #{query.uploadStatus}
		</if>
		<if test="query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
	</sql>

	<!--扩展的条件查询-->
	<sql id="base_query_condition_extend">
		<if test="query.draftKeyFuzzy != null and query.draftKeyFuzzy != ''">
			and draft_key like concat('%', #{query.draftKeyFuzzy}, '%')
		</if>
		<if test="query.videoNameFuzzy != null and query.videoNameFuzzy != ''">
			and video_name like concat('%', #{query.videoNameFuzzy}, '%')
		</if>
		<if test="query.createTimeStart != null and query.createTimeStart != ''">
			<![CDATA[ and create_time >= str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createTimeEnd != null and query.createTimeEnd != ''">
			<![CDATA[ and create_time < date_sub(str_to_date(#{query.createTimeEnd}, '%Y-%m-%d'),interval -1 day) ]]>
		</if>
		<if test="query.updateTimeStart != null and query.updateTimeStart != ''">
			<![CDATA[ and update_time >= str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.updateTimeEnd != null and query.updateTimeEnd != ''">
			<![CDATA[ and update_time < date_sub(str_to_date(#{query.updateTimeEnd}, '%Y-%m-%d'),interval -1 day) ]]>
		</if>
	</sql>

	<!--扩展的查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM video_draft <include refid="query_condition"/>
		<if test="query.orderBy != null"> order by ${query.orderBy} </if>
		<if test="query.simplePage != null"> limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM video_draft <include refid="query_condition"/>
	</select>

	<!--插入(匹配有值的字段)-->
	<insert id="insert" parameterType="com.interlude.entity.po.video.VideoDraft">
		<selectKey keyProperty = "bean.draftId" resultType = "Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO video_draft
		<trim  prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.draftId != null">
				draft_id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.draftKey != null">
				draft_key,
			</if>
			<if test="bean.videoName != null">
				video_name,
			</if>
			<if test="bean.pCategoryId != null">
				p_category_id,
			</if>
			<if test="bean.categoryId != null">
				category_id,
			</if>
			<if test="bean.videoType != null">
				video_type,
			</if>
			<if test="bean.draftStatus != null">
				draft_status,
			</if>
			<if test="bean.uploadStatus != null">
				upload_status,
			</if>
			<if test="bean.createTime != null">
				create_time,
			</if>
			<if test="bean.updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.draftId != null">
				#{bean.draftId},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.draftKey != null">
				#{bean.draftKey},
			</if>
			<if test="bean.videoName != null">
				#{bean.videoName},
			</if>
			<if test="bean.pCategoryId != null">
				#{bean.pCategoryId},
			</if>
			<if test="bean.categoryId != null">
				#{bean.categoryId},
			</if>
			<if test="bean.videoType != null">
				#{bean.videoType},
			</if>
			<if test="bean.draftStatus != null">
				#{bean.draftStatus},
			</if>
			<if test="bean.uploadStatus != null">
				#{bean.uploadStatus},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				#{bean.updateTime},
			</if>
		</trim>
	</insert>

	<!-- 插入或者更新 (匹配有值的字段) -->
	<insert id="insertOrUpdate" parameterType="com.interlude.entity.po.video.VideoDraft">
		INSERT INTO video_draft
		<trim  prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.draftId != null">
				draft_id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.draftKey != null">
				draft_key,
			</if>
			<if test="bean.videoName != null">
				video_name,
			</if>
			<if test="bean.pCategoryId != null">
				p_category_id,
			</if>
			<if test="bean.categoryId != null">
				category_id,
			</if>
			<if test="bean.videoType != null">
				video_type,
			</if>
			<if test="bean.draftStatus != null">
				draft_status,
			</if>
			<if test="bean.uploadStatus != null">
				upload_status,
			</if>
			<if test="bean.createTime != null">
				create_time,
			</if>
			<if test="bean.updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.draftId != null">
				#{bean.draftId},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.draftKey != null">
				#{bean.draftKey},
			</if>
			<if test="bean.videoName != null">
				#{bean.videoName},
			</if>
			<if test="bean.pCategoryId != null">
				#{bean.pCategoryId},
			</if>
			<if test="bean.categoryId != null">
				#{bean.categoryId},
			</if>
			<if test="bean.videoType != null">
				#{bean.videoType},
			</if>
			<if test="bean.draftStatus != null">
				#{bean.draftStatus},
			</if>
			<if test="bean.uploadStatus != null">
				#{bean.uploadStatus},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				#{bean.updateTime},
			</if>
		</trim>
		on DUPLICATE key update
		<trim  prefix="" suffix="" suffixOverrides=",">

			<if test="bean.userId!=null">
				user_id = VALUES(user_id),
			</if>
			<if test="bean.videoName!=null">
				video_name = VALUES(video_name),
			</if>
			<if test="bean.pCategoryId!=null">
				p_category_id = VALUES(p_category_id),
			</if>
			<if test="bean.categoryId!=null">
				category_id = VALUES(category_id),
			</if>
			<if test="bean.videoType!=null">
				video_type = VALUES(video_type),
			</if>
			<if test="bean.draftStatus!=null">
				draft_status = VALUES(draft_status),
			</if>
			<if test="bean.uploadStatus!=null">
				upload_status = VALUES(upload_status),
			</if>
			<if test="bean.createTime!=null">
				create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				update_time = VALUES(update_time),
			</if>
		</trim>
	</insert>

	<!--添加 (批量插入)-->
	<insert id="insertBatch" parameterType="com.interlude.entity.po.video.VideoDraft" >
		INSERT INTO video_draft(user_id,draft_key,video_name,p_category_id,category_id,video_type,draft_status,upload_status,create_time,update_time)values
		<foreach collection="list" item="item" separator=",">
			(#{item.userId},#{item.draftKey},#{item.videoName},#{item.pCategoryId},#{item.categoryId},#{item.videoType},#{item.draftStatus},#{item.uploadStatus},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>

	<!--批量插入或者更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.interlude.entity.po.video.VideoDraft" >
		INSERT INTO video_draft(user_id,draft_key,video_name,p_category_id,category_id,video_type,draft_status,upload_status,create_time,update_time)values
		<foreach collection="list" item="item" separator=",">
			(#{item.userId},#{item.draftKey},#{item.videoName},#{item.pCategoryId},#{item.categoryId},#{item.videoType},#{item.draftStatus},#{item.uploadStatus},#{item.createTime},#{item.updateTime})
		</foreach>
		on DUPLICATE key update
		draft_id = VALUES(draft_id),user_id = VALUES(user_id),draft_key = VALUES(draft_key),video_name = VALUES(video_name),p_category_id = VALUES(p_category_id),category_id = VALUES(category_id),video_type = VALUES(video_type),draft_status = VALUES(draft_status),upload_status = VALUES(upload_status),create_time = VALUES(create_time),update_time = VALUES(update_time)
	</insert>

	<!-- 根据DraftId查询 -->
	<select id="selectByDraftId" resultMap="base_result_map">
		select <include refid="base_column_list"/> from video_draft where draft_id=#{draftId}
	</select>

	<!-- 根据DraftId更新 -->
	<update id="updateByDraftId" parameterType="com.interlude.entity.po.video.VideoDraft">
		update video_draft
		<set>
			<if test="bean.draftId != null" >
				draft_id = #{bean.draftId},
			</if>
			<if test="bean.userId != null" >
				user_id = #{bean.userId},
			</if>
			<if test="bean.draftKey != null" >
				draft_key = #{bean.draftKey},
			</if>
			<if test="bean.videoName != null" >
				video_name = #{bean.videoName},
			</if>
			<if test="bean.pCategoryId != null" >
				p_category_id = #{bean.pCategoryId},
			</if>
			<if test="bean.categoryId != null" >
				category_id = #{bean.categoryId},
			</if>
			<if test="bean.videoType != null" >
				video_type = #{bean.videoType},
			</if>
			<if test="bean.draftStatus != null" >
				draft_status = #{bean.draftStatus},
			</if>
			<if test="bean.uploadStatus != null" >
				upload_status = #{bean.uploadStatus},
			</if>
			<if test="bean.createTime != null" >
				create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null" >
				update_time = #{bean.updateTime},
			</if>

		</set>
		where draft_id=#{draftId}
	</update>

	<!-- 根据DraftId删除 -->
	<delete id="deleteByDraftId">
		delete from video_draft where draft_id=#{draftId}
	</delete>


	<!-- 根据DraftKey查询 -->
	<select id="selectByDraftKey" resultMap="base_result_map">
		select <include refid="base_column_list"/> from video_draft where draft_key=#{draftKey}
	</select>

	<!-- 根据DraftKey更新 -->
	<update id="updateByDraftKey" parameterType="com.interlude.entity.po.video.VideoDraft">
		update video_draft
		<set>
			<if test="bean.draftId != null" >
				draft_id = #{bean.draftId},
			</if>
			<if test="bean.userId != null" >
				user_id = #{bean.userId},
			</if>
			<if test="bean.draftKey != null" >
				draft_key = #{bean.draftKey},
			</if>
			<if test="bean.videoName != null" >
				video_name = #{bean.videoName},
			</if>
			<if test="bean.pCategoryId != null" >
				p_category_id = #{bean.pCategoryId},
			</if>
			<if test="bean.categoryId != null" >
				category_id = #{bean.categoryId},
			</if>
			<if test="bean.videoType != null" >
				video_type = #{bean.videoType},
			</if>
			<if test="bean.draftStatus != null" >
				draft_status = #{bean.draftStatus},
			</if>
			<if test="bean.uploadStatus != null" >
				upload_status = #{bean.uploadStatus},
			</if>
			<if test="bean.createTime != null" >
				create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null" >
				update_time = #{bean.updateTime},
			</if>

		</set>
		where draft_key=#{draftKey}
	</update>

	<!-- 根据DraftKey删除 -->
	<delete id="deleteByDraftKey">
		delete from video_draft where draft_key=#{draftKey}
	</delete>

</mapper>